<header class="header">
    <nav>
        <div class="logo">
            <a href="{{ path('app_main') }}">
                <img src="{{ asset('img/logo/logo.png') }}" class="logo-image" alt="Logo">
            </a>
        </div>
        <ul class="nav-list">
        
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_main') }}">Accueil</a></li>
            {% endif %}

            {% if is_granted('ROLE_ADMINISTRATIF') %}
                <li><a href="{{ path('app_administratif') }}">Administratif</a></li>
                <li><a href="{{ path('app_patient') }}">Patients</a></li>
                <li><a href="{{ path('app_sejour') }}">Séjours</a></li>
            {% endif %}

            {% if is_granted('ROLE_INFIRMIER') %}
                <li><a href="{{ path('app_gestion') }}">Gestion</a></li>
                <li><a href="{{ path('app_consultation') }}">Consultation</a></li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('app_admin_dashboard') }}">Dashboard</a></li>
                <li><a href="{{ path('app_admin_users') }}">Utilisateurs</a></li>
                <li><a href="{{ path('app_admin_services') }}">Services</a></li>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
            {% endif %}
        </ul>
    </nav>
</header>