{% extends 'base.html.twig' %}
{% block title %}Détail du patient{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/patient.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="mb-3">
        <a href="javascript:history.back()" class="btn btn-secondary">← Retour</a>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Détail du patient</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered w-50 mx-auto">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ patient.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ patient.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ patient.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ patient.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Sexe</th>
                        <td>{{ patient.sexe }}</td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td>{{ patient.note }}</td>
                    </tr>
                    <tr>
                        <th>Localité</th>
                        <td>{{ patient.localite.ville }} ({{ patient.localite.codePostal }})</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
